<%= form_with(model: preference, local: true) do |form| %>
  <% if preference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(preference.errors.count, "error") %> prohibited this preference from being saved:</h2>

      <ul>
      <% preference.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :preference_name %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age, id: :preference_age %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.select :gender, gender, {}, prompt: 'Select One' %>
  </div>

  <div class="field">
    <%= form.label :marital_status %>
    <%= form.select :marital_status, marital_status, {}, prompt: 'Select One' %>
  </div>

  <div class="field">
    <%= form.label :interest %>
    <%= form.select :interest, interests, {}, prompt: 'Select One' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
